In [55]:
pip install pandas

Requirement already satisfied: pandas in c:\users\manju\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\manju\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manju\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\manju\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\manju\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\manju\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

# Import libraries & loading dataset

In [56]:
import pandas as pd

# df=pd.read_csv("marketing_campaign.csv")
df=pd.read_csv('medical_appointment_no_shows.csv')

# Exploring the dataset

In [57]:
print(df.shape)
print(df.info())
print(df.head())

(110527, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB
None
      PatientId  AppointmentID Gender          ScheduledDay  \
0  2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1  5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2  4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3  8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4  8.841186e+12        5642494      F  2016-04-29T16:07:23Z

         AppointmentDay  Age      Neighbourhood  Scholarship  Hipertension  \
0  2016-04-29T00:00:00Z   62    JARDIM DA PENHA            0             1
1  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             0
2  2016-04-29T00:00:00Z   62      MATA DA PRAIA            0             0
3  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI            0             0
4  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             1

   Diabetes  Alcoholism  Handcap  SMS_received No-show
0         0           0        0             0      No
1         0           0        0             0      No
2         0           0        0             0      No
3         0           0        0             0      No
4         1           0        0             0      No

# Handling missing values

In [58]:
# checking for null values
print(df.isnull().sum())

df.dropna(inplace=True)

# df['column_name'].finala(df['colum_name'].mean(), inplace=True)

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

# Removing duplicate rows

In [59]:
df.drop_duplicates(inplace=True)

# Standardize text colimns

In [60]:
df['Gender']=df['Gender'].str.lower().str.strip()
df.replace({'f':'female','m':'male'},inplace=True)

# Covert dates to a constistent format

In [62]:
df['Gender'] = df['Gender'].str.lower()
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'], errors='coerce')
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'], errors='coerce')

# Clean column headers

In [63]:
df.columns=df.columns.str.strip().str.lower().str.replace('-','_')

df.drop_duplicates(inplace=True)

# Fix data types

In [64]:
df['age'] = df['age'].astype(int)
df['no_show'] = df['no_show'].str.lower()

# Check for nulls
nulls = df.isnull().sum()

df.head(), df.dtypes, nulls

(      patientid  appointmentid  gender              scheduledday  \
 0  2.987250e+13        5642903  female 2016-04-29 18:38:08+00:00
 1  5.589978e+14        5642503    male 2016-04-29 16:08:27+00:00
 2  4.262962e+12        5642549  female 2016-04-29 16:19:04+00:00
 3  8.679512e+11        5642828  female 2016-04-29 17:29:31+00:00
 4  8.841186e+12        5642494  female 2016-04-29 16:07:23+00:00

              appointmentday  age      neighbourhood  scholarship  \
 0 2016-04-29 00:00:00+00:00   62    JARDIM DA PENHA            0
 1 2016-04-29 00:00:00+00:00   56    JARDIM DA PENHA            0
 2 2016-04-29 00:00:00+00:00   62      MATA DA PRAIA            0
 3 2016-04-29 00:00:00+00:00    8  PONTAL DE CAMBURI            0
 4 2016-04-29 00:00:00+00:00   56    JARDIM DA PENHA            0

    hipertension  diabetes  alcoholism  handcap  sms_received no_show
 0             1         0           0        0             0      no
 1             0         0           0        0             0      no
 2             0         0           0        0             0      no
 3             0         0           0        0             0      no
 4             1         1           0        0             0      no  ,
 patientid                     float64
 appointmentid                   int64
 gender                         object
 scheduledday      datetime64[ns, UTC]
 appointmentday    datetime64[ns, UTC]
 age                             int64
 neighbourhood                  object
 scholarship                     int64
 hipertension                    int64
 diabetes                        int64
 alcoholism                      int64
 handcap                         int64
 sms_received                    int64
 no_show                        object
 dtype: object,
 patientid         0
 appointmentid     0
 gender            0
 scheduledday      0
 appointmentday    0
 age               0
 neighbourhood     0
 scholarship       0
 hipertension      0
 diabetes          0
 alcoholism        0
 handcap           0
 sms_received      0
 no_show           0
 dtype: int64)

# Save cleaned dataset

In [65]:
df.to_csv('cleaned_dataset.csv',index=False)